@tailwind base;
@tailwind components;
@tailwind utilities;

.kbw-signature {
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

#sig canvas {
    width: 100% !important;
    height: 150px;
    border-radius: 10px;
}

.input-field {
    @apply rounded-2xl border-2 border-[#510A32] text-[#510A32] w-full shadow-xl;
}

.select-option {
    @apply rounded-2xl border-2 border-[#510A32] text-[#510A32] w-full shadow-xl truncate;
}

.label-name {
    @apply block text-white;
}

.reset-btn {
    @apply bg-white mt-2 py-1 px-2 text-sm rounded-md border-2 border-[#510A32] hover:bg-white/10 duration-200 hover:text-white;
}

.submit-btn {
    @apply bg-[#510A32] text-white py-2 px-4 rounded-lg hover:bg-[#510A32]/80 duration-200 shadow-lg;
}

.title-form {
    @apply text-4xl text-center font-semibold text-white;
}

.card-form {
    @apply bg-white p-4 bg-opacity-30 md:rounded-r-lg px-8 md:px-16 py-8;
}

.bg-main {
    @apply bg-gradient-to-br from-[#510A32] from-10% via-[#C72C41] via-30% to-[#C72C41] to-90% min-h-screen min-w-full;
}

.bg-image {
    @apply min-h-screen md:min-h-screen min-w-full bg-center bg-cover md:flex;
}

.card-welcome {
    @apply bg-[#C72C41] w-full rounded-l-lg px-14 py-20;
}

.time-content {
    @apply bg-white border-2 border-[#510A32] text-center text-[#510A32] py-5 rounded-2xl font-semibold;
}

.card-content {
    @apply border-2 border-[#510A32] md:rounded-lg w-full md:max-w-5xl;
}
